body {
  background: #CDFFE2;
  color: #0025FF;
  font-family: "Figtree", serif;
}

section {
  padding: 20px;
}

hr {
  border: 1px solid #0025FF;
}

/* Practice: Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
}

.logo {
  width: 50px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #0025FF;
}

/* ---------------------------- */

/* Practice: Equal-width cards */

.card-container {
  display: flex;
  gap: 10px;
}

.card {
  background: lightblue;
  border: 2px solid #0025FF;
  padding: 20px;
  flex: 1;
}

/* 👇 Needs a div in the HTML with this class name to work */
.another-card {
  background: lightpink;
  border: 2px solid hotpink;
  padding: 20px;
  flex: 2;
}

/* Codealong: Plan and code a card */
.flex-container {
  display: flex;
}

.card-image {
  width: 450px;
  margin-right: 5px;
}

article {
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: space-between;
  border-width: 16px 16px 2px 2px;
  border-color: #0025FF;
  border-style: solid;
  width: 375px;
  height: 500px;
  padding: 30px;
  color: rgb(0, 24, 164);
}

.top-text p {
  margin: 0;
}

.bold {
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

.preamble {
  font-size: 20px;
  margin-top: 5px;
}

.button {
  display: inline-block;
  background: #0025FF;
  padding: 15px 25px;
  color: white;
  border-radius: 40px;
}